# Ignore ALL node_modules in any folder
**/node_modules/

# Ignore ALL build folders
**/dist/
**/build/

# Ignore environment variables
**/.env

# Ignore Python/Backend files
**/venv/
**/.venv/
**/__pycache__/
**/*.pyc
**/db.sqlite3

# Ignore System files
.DS_Store
Thumbs.db